# Assignment 3 - Working with data

**Rationale**. In this assignment, you will practice reading/writing common dataset formats, execute conditional subsetting of data, merge data, and perform groupby summaries. 

Please comment your code for potential partial credit and to explain to me that you understand what you are doing. As always, feel free to add additional cells.

For any questions that requires a **text answer: make sure to type your answers in a text cell.**

(Make sure you've ) Save(d) the [datasets](https://drive.google.com/drive/folders/1wpphG0kRidK8W9DT79spBufId8jWCUvC?usp=sharing) in this folder to your Google Drive.

1. [Quebec Yelp Reviews](https://drive.google.com/file/d/1pmnps16-kI8VJaIizNXaOFyW0IZs_pZo/view?usp=sharing)
1.  [Quebec Business Info](https://drive.google.com/file/d/1eT72WiYI7xXT7wiNfo2w1uhxVC0qIage/view?usp=sharing)

In [1]:
# first, mount your GDrive
from google.colab import drive
drive.mount('drive')

Mounted at drive

# Problem 1 (2 points)

Read in the Quebec Yelp dataset from your Google Drive. Make sure that there are no "Unnamed" columns - if so, you've read in the index_col as a regular column. Make sure that the index corresponds to the row of the dataset using the `.reset_index` method. Convert "Date" column to a Pandas datetime format.

1. What is the observational unit of this dataset? (What does each row represent?)
1. How many rows are in this dataset? columns?
1. When was the earliest review written? latest?

## Problem 1 Answers (edit this cell)

1. Each row represents one **review**
1. There are **208166** rows in the dataset
    1. There are **9** columns in the dataset excluding the index.
1. The first review is written on **6/26/12**.
    1. The last review is written on **5/5/19**.

In [4]:
# import any necessary libraries here

import os
os.listdir('drive/My Drive/3509')

['Copy_of_A1_Georgeea_Daskalopoulos.ipynb',
 'Assignment 1',
 'Quebec_biz.csv',
 'quebec_yelp_reviews.csv']

In [13]:
# First, list the folder containing your data
# fpath = 'path/to/your/data'
# os.listdir(fpath) 
# this should return a list containing the quebec_biz 
# and quebec_yelp_reviews datasets

fpath = 'drive/My Drive/3509'
os.listdir(fpath)

['Copy_of_A1_Georgeea_Daskalopoulos.ipynb',
 'Assignment 1',
 'Quebec_biz.csv',
 'quebec_yelp_reviews.csv']

In [44]:
# read in the reviews data
# pick a variable name for the reviews dataframe
# and set its value by reading in the appropriate dataset
# df = pd.read_csv(fpath + 'review_dataset_filename.csv', index_col = 0)
# you can call the dataframe something other than df

import pandas as pd
df = pd.read_csv('drive/My Drive/3509/quebec_yelp_reviews.csv', index_col=0)

In [45]:
# preview the dataframe's first 5 rows using the .head() method
# what unit of observation does each row represent?

df.head()

                review_id                 user_id  ...        date  stars
0  sybVjriZuCEH09zplkcXAw  qkJtn0Rtz_lKlTs5azBkng  ...  2013-12-29      5
1  uZ66BJLPMx6mJAY_6bi8vQ  kNL4SpfIdMC8GywGayDEOw  ...  2016-07-14      4
2  uRPUL-YSYuaJZLQp3Z0QlA  dSeYpzf0JkCeARr_CyCh7A  ...  2012-06-26      1
3  AGxEC3EtPW1vZH3v2DnPFA  ZhK2xIa4f73JZfua7IP8vA  ...  2016-02-24      3
4  7rBHa16cZexmPopeVrGKBw  ClJirlfCI0W0CfpYaWdfEw  ...  2015-05-26      2

[5 rows x 9 columns]

In [46]:
# compute the shape of the dataset to return (rows, columns)
# use the .shape method

df.shape

(208166, 9)

In [85]:
# take a look at the column names by accessing the dataframe's column attribute, 
# e.g. df.columns.values (but replace df with the name you picked)

df.columns.values

array(['review_id', 'user_id', 'business_id', 'useful', 'funny', 'cool',
       'text', 'date', 'stars'], dtype=object)

In [104]:
# find the date column above, convert the column to pandas datetime series
# using the pd.to_datetime(....) function


pd.to_datetime(df.Date)

AttributeError: ignored

In [83]:
# find the smallest date (use the .min method)
df.date.min

<bound method Series.min of 0         2013-12-29
1         2016-07-14
2         2012-06-26
3         2016-02-24
4         2015-05-26
             ...
208161    2018-01-14
208162    2019-09-06
208163    2017-08-19
208164    2019-10-29
208165    2019-05-05
Name: date, Length: 208166, dtype: object>

In [80]:
# find the largest date (use the .max method)

df.max

<bound method DataFrame.max of                      review_id                 user_id  ...        date  stars
0       sybVjriZuCEH09zplkcXAw  qkJtn0Rtz_lKlTs5azBkng  ...  2013-12-29      5
1       uZ66BJLPMx6mJAY_6bi8vQ  kNL4SpfIdMC8GywGayDEOw  ...  2016-07-14      4
2       uRPUL-YSYuaJZLQp3Z0QlA  dSeYpzf0JkCeARr_CyCh7A  ...  2012-06-26      1
3       AGxEC3EtPW1vZH3v2DnPFA  ZhK2xIa4f73JZfua7IP8vA  ...  2016-02-24      3
4       7rBHa16cZexmPopeVrGKBw  ClJirlfCI0W0CfpYaWdfEw  ...  2015-05-26      2
...                        ...                     ...  ...         ...    ...
208161  CNpc_rwGhK9JlcKl7DfpBw  4_1MOsAkv3Xwwlz8N0YXdg  ...  2018-01-14      1
208162  NzMD4qtsfsAqwyKLVJhPIg  xg_96kkO-lF9oCc1PzrQgA  ...  2019-09-06      4
208163  HbmEOCd2Mrv4iuzyCjkhdg  iu3YFvY06HzYrpzFQdFvIA  ...  2017-08-19      2
208164  DEs_4rfcoBpZH1LFn_bd_w  b4vXpAP5wNE-bAPstxO7nA  ...  2019-10-29      4
208165  Firb5iZn0wa2qs7BBrwxIw  rLh63PoxknAV52w5IkmcQA  ...  2019-05-05      3

[208166 rows x 9 columns]>

# Problem 2 (2 points)

Construct a **new** dataframe by selecting only the reviews written 1) on or after May 1st 2016 **and** 2) before June 1st 2019. **Save it** to an appropriate location on your Google Drive. (feel free to delete it later)

In [106]:
# pick a variable name and set it equal to the approriate subset of your dataframe
# (you can use the same variable name as the original dataframe)
# remember to select the dates with 2 conditions:
# >= '2016/5/1'
# < '2019/6/1'


df.loc[df.Date>=pd.to_datetime('2016/5/1')]
df.loc[df.Date<pd.to_datetime('2019/6/1')]

AttributeError: ignored

In [ ]:
# check the minimum and maximum dates of the resulting dataframe to confirm you've done this correctly
# min date

df.loc[df.Date>=pd.to_datetime('2016/5/1')].min
df.loc[df.Date<pd.to_datetime('2019/6/1')].max

In [ ]:
# max date

df.loc[df.Date<pd.to_datetime('2019/6/1')].max

In [ ]:
# save the dataset somewhere, give it a meaningful file name

# Problem 3 (3 points)

**Use the dataset created in problem 2**

Create a new column `ym` that represents the year and month (drops date and time from dates).\
*Hint use `.dt.to_period` method from [notes](https://colab.research.google.com/drive/1RKy2g2aWOitE2rCQdZli8ERKdrtqU6Cl?usp=sharing).

Next, construct a line plot of the average usefulness votes (y-axis) by month between 2016/5 and 2019/5 `ym` (x-axis).\
*Hint - you need to do a groupby plot grouping on `ym` and compute the mean of star ratings.

### Use a text cell to answer:
1. What seasonal patterns do you see in the average helpfulness votes per review in Quebec?
1. Come up with 2 potential explanations for the pattern(s) you've noticed.

## Problem 3 Answer (edit this cell)
1. (Describe the pattern)
1. (Speculate why this pattern might exist)

In [ ]:
# create 'ym' column
cond = df.['year']
ym = df.loc[]

In [ ]:
# check that you've created it correctly by finding the unique values of ym
# select the ym column and use the .unique() method

In [ ]:
# create the plot using a groupby summary + .plot method
# refer to notes for examples

# Probelm 4 (4 points)

Read in the Quebec **business info** dataset, be sure to use a different variable name for this dataframe.

## Part A questions (2 pts)
1. What is the observational unit of this dataset?
1. On what variable should you merge this (right dataframe) **into** the review data (left dataframe)? 

**Merge business data into the dataframe from Q2.**

Notice a column called "is_open" - if a business has shut down, this column will have a value of 0, otherwise it will have a value of 1.

Construct the line plot where: 
* x-axis is `ym` 
* y-axis is average star rating 
* there are 2 lines: 1. for currently open businesses and 2. closed businesses 
    * Make sure the 2 lines appear on the same figure.
    * You should compute avg. star rating using the `star` variable, not the `biz_star` variable.

## Part B questions (2 pts)
1. Any difference in patterns between these 2 groups of businesses?
1. Speculate on what reason(s) might cause the observed pattern(s).

## Problem 4 Answers (Edit this cell)

### Part A

1. Each row represents one **_________**
1. We should merge on **_________**

### Part B

1. (Describe any difference in patterns between currently open and shut down businesses)
1. 2 possible reasons are:
    1. (Clearly explain one hypothesized reason)
    1. (Clearly explain a second hypothesized reason)

In [110]:
# read in the business info file, call the dataframe biz, e.g. biz = pd.read_csv(...)


import pandas as pd
df = pd.read_csv('drive/My Drive/3509/Quebec_biz.csv')

In [111]:
# Take a look at the first few rows to determine the observational unit

df.head()

   Unnamed: 0  ...                                              hours
0           2  ...                                                NaN
1          31  ...  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
2          43  ...                                                NaN
3          45  ...  {'Monday': '5:30-23:0', 'Tuesday': '5:30-23:0'...
4          57  ...                                                NaN

[5 rows x 15 columns]

In [113]:
# merge the 2 datasets


df = read.csv(datasetsores, how = 'left', on = 'Store')?

NameError: ignored

In [ ]:
# take a look at the columns of the resulting dataframe
# make sure it has all the columns from both the review and business datasets

In [ ]:
# make your plot, use groupby summary and unstack syntax 
# to construct plot, see examples from notes